{#
/**
 * @file event_agenda.html.twig
 * Default theme implementation to present Event agenda data.
 *
 * This template is used when viewing Event agenda pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_event_agenda()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('event_agenda') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
